.dataTable {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.dataTable > h1 {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.2s linear transform;
  font-size: 50px;
}
.dataTable > h1:hover {
  transform: scale(1.1);
}
.tableEnteries {
  text-align: center;
  padding: 20px;
  border: 1px solid #22eaaa;
}
.tableEnteries:hover {
  background-color: rgb(16, 13, 13);
}

th {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid whitesmoke;
  padding: 10px;
}
th:hover {
  background-color: rgb(40, 32, 32);
}
